#VBox{
    -fx-background-color: #7CCD7C;
}
#pane25{
    -fx-background-color: #90EE90 ;
    -fx-border-color: white;
}

.mfx-button25{
    -fx-background-color:  #7CCD7C;
    -fx-border-color: white;
}
.button15{
    -fx-background-color:  #90EE90;

}